@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family:TheYearofTheCamel-Regular;
    src: url("./assets/Fonts/TheYearofTheCamel-Bold.otf") format("openType");
}

@font-face {
    font-family:TheYearofTheCamel-ExtraBold;
    src:url("./assets/Fonts/TheYearofTheCamel-ExtraBold.otf") format("openType");
}

@font-face {
    font-family:TheYearofTheCamel-Bold;
    src:url("./assets/Fonts/TheYearofTheCamel-Bold.otf") format("openType");
}